<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AuthenticationService" maxReceivedMessageSize="6553600" />
                <binding name="userHttp_StoreApi" maxReceivedMessageSize="6553600" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://emexonline.com:4000/AuthenticationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="ServiceReference1.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
            <endpoint address="http://emexonline.com:4000/Store.svc" binding="basicHttpBinding"
                bindingConfiguration="userHttp_StoreApi" contract="ServiceReference2.StoreApi"
                name="userHttp_StoreApi" />
        </client>
    </system.serviceModel>
</configuration>